#game-box {

  width: 600px;
  height: 400px;
  border: solid 2px black;
  padding: 0px;
  margin: 0px;

}

.screen-cell {

  width: 20px;
  height: 20px;
  float: left;
  background: #9FD4B4;
}
.snake-cell {
  background: black;
}

.food {

  background:red;
  


}